<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="FutureShopConnectionString" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString2" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString3" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString4" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString5" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString6" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString7" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString8" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString9" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString10" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString11" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FutureShopConnectionString12" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="fs" connectionString="Data Source=AMISH-PC;Initial Catalog=FutureShop;User id=sa;Password=vora" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.web>
    <anonymousIdentification enabled="true"/>
    <profile enabled="true">
      <properties>
        <add name="SCart" serializeAs="Binary" type="ShoppingCartExample.Cart" allowAnonymous="true"/>
      </properties>
    </profile>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,  PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
  </system.web>
</configuration>